{% extends 'base.html'%}
{% load static %}

{% block css_files %}
<link rel='stylesheet' href={% static 'blog/post-detail.css' %}/>
{% endblock %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block body %}
<section id='summary'>
    <h2>{{ post.title }} </h2>
    <article>
        <img src="{% static 'blog/images/'|add:post.image%}" alt=''>
        <address>By {{ post.author}}</address>
        <div> Lase updated on
        <time>{{ post.date|date:"D d M y"}}</time>
        </div>
    </article>

</section>

<main>
    <p>
       {{ post.content|linebreaks }}
    </p>
   
</main>
{% endblock %}